:root {
  --header-height: 5rem;
}

.App {
  max-width: 1024px;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 250px auto;
  height: 100vh;
  padding-inline: 2rem;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.contact-list {
  width: 30ch;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.contact-view {
  margin-top: var(--header-height);
  padding-inline: 1.5rem;
  display: flex;
  flex-direction: column;
  margin-inline: auto;
}
.contact-info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.contact-details .name {
  margin-bottom: 0;
}
.contact-timeline {
  padding-top: 2rem;
}

.contact-timeline .timeline-item {
  display: flex;
  gap: 20px;
}

.contact-timeline .year-range {
  width: 150px;
  text-align: end;
}

/* Overriding */
img.ui.small.image {
  height: 150px !important;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: var(--header-height);
}
